.nav{
    background-color: #111a2b;
    height: 14vh;
    position: relative;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: center; */
}

.wholeMenu{
    /* background: url("https://wallpapers.com/images/hd/epic-anime-phm0pdngie1gchj9.jpg") center / cover no-repeat; */
    /* height: 100vh; */
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    
    margin: 0;
    
}
.nav-logo{
    /* margin-right: 20%; */
    position: absolute;
  top: 50%;
  transform: translate(0, -50%);
    
    float: left;
}

.MenuMain{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
  .menu-bar {
    border-radius: 25px;
    height: fit-content;
    display: inline-flex;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    align-items: center;
    padding: 0 10px;
    /* margin: 50px 0 0 0; */
  }
  
  .menu-bar li {
    list-style: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    padding: 12px 16px;
    margin: 0 8px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .menu-bar li::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transition: 0.2s;
    border-radius: 25px;
  }
  
  .menu-bar li:hover::before {
    background: linear-gradient(to bottom, #e8edec, #d2d1d3);
    box-shadow: 0px 3px 20px 0px black;
    transform: scale(1.2);
  }
  
  .menu-bar li:hover {
    color: black;
  }
  

  .explore{
    background-color: black;
    border-radius: 20px;
    display: flex;
    padding-top: 5px;
    padding-left: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
    margin-left: 15%;
    border: 2px solid rgb(0, 0, 0);
    color: white;
    height: 50%;
    width: 20%;
  }
